<div class='well' ng-controller='SalesPersonListCtrl'>

	<div class='form-group'>
		<input class='form-control' placeholder='Add Salesperson' ng-model='name'/>
	</div>
	<button class='btn btn-primary' ng-click='create()' ng-disabled='!name'>Create Salesperson</button>

	<div> <br clear='all'/> </div>
	
	<ul class='list-group'>
		<li class='list-group-item' ng-repeat='salesPerson in salesPeople'> 
			{{ salesPerson.name }} 
			<button class='btn btn-danger pull-right' ng-click='destroy(salesPerson)'> Delete </button>
			<br clear='all' />
		</li>
	</ul>

</div>